<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Story 9</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="text-align: center;">
	<h1 style="margin-top: 10%; ">Wanna Log in?</h1>
	{% if not user.is_authenticated %}
	<a  href="{%url 'homepage:loginpage' %}" style="margin-top: 6%;">Click Here</a>
	{% endif %}
</body>
